# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.xml
_old
_bckp
_dev
_notes
cnfg/ph1.fr.php
cnfg/tlex.fr.php
cnfg/telx.fr.php
cnfg/yandex.txt
_trash.php
fonts/_old
img
nodejs
fonts/fa50
fonts/fa51
fonts/ttf
fonts/fa4
usr
