RewriteEngine on
RewriteRule ^([0-9]+)$ /?app=tlex&p=id:$1 [L]
RewriteRule ^a/([0-9]+)$ /?app=tlex&p=art:$1 [L]
RewriteRule ^u/([^./]+)$ /?app=tlex&p=usr:$1 [L]
RewriteRule ^tm/([^./]+)$ /?app=tlex&p=tm:$1 [L]
RewriteRule ^th/([^./]+)$ /?app=tlex&p=th:$1 [L]
RewriteRule ^desk/([^./]+)$ /?app=tlex&p=desk:1,usr:$1 [L]
RewriteRule ^notifications/([^./]+)$ /?app=tlex&p=ntf:1,usr:$1 [L]
RewriteRule ^api/([^./]+)/(.+)$ /api.php?app=$1&p=$2 [L]
RewriteRule ^explorer/(.+)$ /?app=explorer&p=f:$1 [L]
RewriteRule ^reset$ /?reset== [L]
RewriteRule ^logout$ /?logout== [L]
RewriteRule ^([^.]+)/([^.]+):([^.]+)$ /?app=$1&p=$2:$3 [L]
RewriteRule ^([^.]+)/([^.]+)/([^.]+)$ /?app=$1&p=p:$2,o:$3 [L]
RewriteRule ^([^.]+)/([^.]+)$ /?app=$1&p=p:$2 [L]
RewriteRule ^([^.]+)/$ /?app=$1 [L]
RewriteRule ^([^.]+)$ /?app=$1 [L]